.contact_session{
    font-size: 48px;
    font-weight: 800;
}
.contact_session p{
    color:#5A5959;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    max-width: 1000px;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}