.navigation ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
.navigation{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}